$border-black: #313131;
$border-gray100: #ccc;
$border-gray200: #c3c3c3;

$black500: #333;
$black900: #000;
$gray300: #555;
$gray200: #666;
$gray150: #999;
$gray100: #a3a3a3;
$aqua: #00bac1;

$list-padding: 20px;